:root {
    --blue: #25A7E0;
    --orange: #DA581F;
    --grey: #F2F2F2;
    --midgrey: #adadad;
    --darkgrey: #333333;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Proxima Nova Lt', sans-serif;
    font-size: 16px;
    color: #4D4D4D;
    font-weight: 300;
}

h1, h2, h3 {
    margin: 0 0 20px;
    text-align: center;
}

h1 {
    font-family: 'Proxima Nova Rg', sans-serif;
    font-weight: 700;
}

h2 {
    font-family: 'Proxima Nova Sb', sans-serif;
    font-weight: 600;
}

a {
    color: #4D4D4D;
    text-decoration: none;
}

a:visited {
    color: #4D4D4D;
}

a:hover {
    color: #1C75BC;
}

p {
    margin: 0 0 10px;
    font-size: 18px;
    line-height: 1.6;
    font-weight: 300;
    letter-spacing: 0.01em;
}

header {
    position: fixed;
    display: flex;
    width: 100%;
    height: 80px;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    margin: 0;
    z-index: 10;
    background: white;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
}

#menu {
    display: flex;
    height: 100%;
    width: 40%;
    list-style: none;
    justify-content: space-evenly;
    align-items: center;
    margin-top: -1px;
    box-sizing: border-box;
}

#menu .menu-link {
    font-size: 14px;
    font-family: 'Proxima Nova Rg', sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    color: #4D4D4D;
    transition: color .2s;
}

#menu .menu-link:hover {
    color: var(--orange);
}

header .img-wrapper {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

header .img-wrapper.kek {
    height: 100%;
    left: 20px
}

header .img-wrapper.brick {
    height: 25%;
    right: 20px;
}

header .img-wrapper img {
    height: 100%;
}

header #hamburger {
    display: none;
}

section {
    padding: 140px 40px 20px;
    margin-top: -80px;
}

section:not(.main-title) h1 {
    font-size: 44px;
}

.pillarbox {
    width: 100%;
    max-width: 1200px;
    padding: 40px;
    margin: 0 auto;
    box-sizing: border-box;
}

.main-title {
    position: relative;
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    padding-top: 80px;
    margin-top: 0;
}

.main-title .img-wrapper {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 49%;
}

.main-title .img-wrapper::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(12, 12, 12, 0.45);
}

.main-title .img-wrapper img {
    width: 100%;
}

.main-title .text {
    position: absolute;
    top: 20vw;
    left: 10vw;
    color: #fff;
}

.main-title h1 {
    font-size: 66px;
    line-height: 1;
    text-align: left;
    margin-bottom: 10px;
}

.main-title h2 {
    font-family: 'Proxima Nova Rg', sans-serif;
    font-weight: 700;
    font-size: 32px;
    line-height: 1.1;
    letter-spacing: 0.01em;
    text-align: left;
}

.main-title .text p {
    position: relative;
    max-width: 50vw;
    padding-left: 10vw;
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: 300;
    font-style: italic;
    line-height: 26px;
    text-align: left;
}

.main-title .text p::before {
    position: absolute;
    content: '';
    width: 8vw;
    height: 1px;
    top: 15px;
    left: -3vw;
    background-color: #fff;
}

.main-title .date {
    position: absolute;
    right: 8vw;
    bottom: 8vw;
    display: flex;
    height: 70px;
}

.main-title .date p {
    display: flex;
    align-items: center;
    height: 100%;
    padding: 20px 30px;
    color: #fff;
    font-family: 'Proxima Nova Rg', sans-serif;
    font-weight: 400;
    font-size: 19px;
    background: rgba(255, 255, 255, .3);
    box-sizing: border-box;
}

.main-title .date .button {
    display: flex;
    align-items: center;
    height: 100%;
    padding: 20px 80px;
    font-family: 'Proxima Nova Rg', sans-serif;
    font-weight: 700;
    font-size: 19px;
    color: var(--blue);
    background-color: #fff;
    text-transform: uppercase;
    transition: color .3s;
    text-decoration: none;
    box-sizing: border-box;
}

.main-title .date .button:visited {
    color: var(--blue);
}

.main-title .date .button:hover {
    color: var(--orange);
    text-decoration: none;
}

#companies {
    padding: 40px 80px 20px 80px;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

#companies .img-wrapper {
    width: calc(1 / 14 * 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 45px;
    cursor: pointer;
    padding: 15px 0 15px;
}

#companies .img-wrapper:last-of-type {
    margin-right: 0;
}

#companies .img-wrapper img {
    width: 100%;
    pointer-events:  none;
}

section h1 {
    position: relative;
    color: var(--blue);
    padding-bottom: 40px;
    margin-bottom: 40px;
}

section h1::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 50%;
    max-width: 5vw;
    height: 2px;
    transform: translateX(-50%);
    background-color: var(--blue);
}

#about,
#program {
    display: flex;
    width: 100%;
    padding: 110px 80px 120px;
    box-sizing: border-box;
}

#about h1,
#program h1 {
    position: relative;
    color: var(--blue);
    padding: 20px 100px 40px 0;
    height: 44px;
}

#about h1::after,
#program h1::after {
    left: 0;
    transform: none;
}

#about .text-columns {
    width: calc(100% - 200px);
    padding-top: 20px;
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
    -webkit-column-gap: 4em;
    -moz-column-gap: 4em;
    column-gap: 4em;
}

#about p,
#program p {
    font-size: 15px;
}

#about p,
#tickets p,
#contact p {
    font-family: 'Proxima Nova Rg', sans-serif;
    font-weight: 400;
}

#about p:first-child,
#about p:last-child {
    font-family: 'Proxima Nova Sb', sans-serif;
    font-weight: 600;
}

#about p a,
#about p a:visited {
    color: #1C75BC;
}

#about p a:hover {
    text-decoration: underline;
}

#register {
    padding: 80px 0 0;
}

#discover {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 40px;
    background-color: var(--grey);
    color: var(--orange);
    margin-top: 0;
    /*margin-bottom: -120px;*/
}

#discover p {
    font-size: 25px;
    font-family: 'Proxima Nova Sb', sans-serif;
    font-weight: 600;
    margin: 0;
}

.ticket-button {
    color: #fff;
    background-color: var(--orange);
    display: flex;
    align-items: center;
    height: 100%;
    padding: 20px 70px;
    font-family: 'Proxima Nova Rg', sans-serif;
    font-weight: 700;
    font-size: 19px;
    text-transform: uppercase;
    transition: background-color .3s;
    text-decoration: none;
    box-sizing: border-box;
}

.ticket-button:visited {
    color: #fff;
}

.ticket-button:hover {
    color: #fff;
    background-color: rgba(207, 62, 21, 0.73);
    text-decoration: none;
}

#speakers {
    padding-top: 180px;
    padding-bottom: 200px;
}

#speakers .info {
    text-align: center;
    width: 66%;
    margin: 0 auto 40px;
}

.person {
    position: relative;
    width: calc(25% - 15px);
    height: 0;
    padding-bottom: calc(25% - 15px);
    margin-right: 20px;
    margin-bottom: 20px;
    cursor: pointer;
    overflow: hidden;
}

.person:nth-child(4n) {
    margin-right: 0;
}

.person img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.person .description {
    position: absolute;
    top: calc(100% - 62px);
    left: 0;
    width: 100%;
    height: 100%;
    padding: 5px 8px;
    font-family: 'Proxima Nova Rg', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    text-align: left;
    background: rgba(255, 255, 255, 0.85);
    box-sizing: border-box;
    transition: top .2s;
}

.person .description span {
    text-transform: uppercase;
    font-size: 14px;
}

.person .description span a {
    font-family: 'Proxima Nova Sb', sans-serif;
}

.person .description.lifted {
    top: 0;
    transition: top .45s;
    overflow: auto;
}

.person-blocks {
    display: flex;
    flex-flow: row wrap;
    padding: 20px 40px 0;
}

#program .text-columns {
    display: flex;
}

#program .text-columns .col:first-child {
    margin-right: 60px;
}

#day1,
#day2 {
    padding-top: 80px;
    padding-left: 0;
    padding-right: 0;
    margin-bottom: -100px;
    color: #fff;
}

#day1 .title,
#day2 .title {
    width: 100%;
    padding: 40px 80px;
    background-color: var(--orange);
    display: flex;
    align-items: center;
    box-sizing: border-box;
}

#day1 .title h2,
#day2 .title h2 {
    margin-bottom: 0;
    padding-bottom: 0;
    font-family: 'Proxima Nova Sb', sans-serif;
    font-size: 32px;
    font-weight: 600;
    color: #fff;
    text-align: left;
    text-transform: uppercase;
}

#day1 .title span,
#day2 .title span {
    display: inline-block;
    text-align: left;
    font-family: 'Proxima Nova Lt', sans-serif;
    font-weight: 300;
}

.program-list {
    padding: 40px 80px;
    background-color: var(--darkgrey);
}

.program {
    display: flex;
    align-items: flex-start;
    margin-bottom: 10px;
}

.program .time {
    position: relative;
    min-width: 130px;
    line-height: 1.1;
    margin-right: 40px;
}

.program p {
    font-size: 20px;
}

.program.break p,
.program.session p {
    font-family: 'Proxima Nova Rg', sans-serif;
    font-weight: 400;
    color: var(--orange);
    line-height: 1.1;
    text-transform: uppercase;
}

.program.session p {
    color: #fff;
}

.program .description {
    margin-bottom: 20px;
}

.program .description p,
.program .description span,
.program .description a {
    color: var(--midgrey);
    line-height: 1.1;
}

.program .description p:first-of-type {
    position: relative;
    text-transform: uppercase;
    padding-bottom: 40px;
    font-family: 'Proxima Nova Rg', sans-serif;
    font-weight: 400;
    color: #fff;
}

.program .description.no-decor p:first-of-type::after {
    content: none;
}

.program .description p:first-of-type::after {
    position: absolute;
    content: '';
    width: 30px;
    height: 1px;
    bottom: 18px;
    left: 0;
    background-color: #fff;
}


.program .description.exhibition p a {
    color: var(--blue);
    margin-left: 20px;
}

.ws-info {
    margin-bottom: 40px;
    max-width: 75%;
}

.ws-info p {
    font-size: 20px;
    color: var(--midgrey);
    line-height: 1.3;
    margin-bottom: 20px;
}

.ws-info p.strong {
    font-family: 'Proxima Nova Sb', sans-serif;
    font-weight: 600;
}

.ws-info a {
    color: var(--midgrey);
    text-decoration: underline;
}

#day2 .program {
    padding-bottom: 20px;
}

#day2 .program .description {
    margin-bottom: 0;
}

#tickets {
    padding-top: 160px;
    padding-bottom: 80px;
}

#tickets .description {
    width: 60%;
    margin: 0 auto;
}

#tickets p {
    text-align: center;
}

#tickets .ticket-button {
    max-width: 285px;
    margin: 0 auto 20px;
}

#tickets .smallcase {
    width: 60%;
    margin: 0 auto;
    font-size: 15px;
    font-weight: 300;
}

#tickets .prices-block {
    padding: 20px 0;
    width: 56%;
    margin: 0 auto;
}

#tickets .prices-block p {
    font-size: 20px;
    font-family: 'Proxima Nova Sb', sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    color: var(--orange);
}

#tickets .prices-block span {
    font-family: 'Proxima Nova Lt', sans-serif;
    font-weight: 300;
}

#contact {
    padding-top: 160px;
    text-align: center;
}

#contact h1,
#contact .info .text {
    position: relative;
    padding-bottom: 40px;
    margin-bottom: 40px;
}

#contact .info {
    width: 40%;
    margin: 0 auto;
}

#contact .info .text::after {
    position: absolute;
    content: '';
    width: 40px;
    height: 1px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--darkgrey);
}

#contact .info .text a {
    font-family: 'Proxima Nova Sb', sans-serif;
    font-weight: 600;
}

#contact .organizer {
    margin-bottom: 40px;
}

#contact .organizer .bold {
    font-family: 'Proxima Nova Sb', sans-serif;
    font-weight: 600;
}

#partners {
    background-color: var(--grey);
    padding-top: 80px;
    padding-bottom: 80px;
    margin: 0;
}

.logos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 20px 0 10px;
}

.logos .img-wrapper {
    display: flex;
    width: 150px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100px;
    margin: 0 60px 20px;
}

.logos .img-wrapper img {
    width: 100%;
}

.logos .img-wrapper.partner {
    width: 100px;
}

.logos .img-wrapper.auto {
    padding: 10px;
}

.logos .img-wrapper.partner img {
    height: 100%;
    object-fit: contain;
}

footer {
    width: 80%;
    margin: 0 auto;
    padding: 10px 0;
    border-top: 1px solid var(--darkgrey)
}

footer p {
    font-size: 13px;
    font-family: 'Proxima Nova Sb', sans-serif;
}

footer a {
    font-family: 'Proxima Nova Rg', sans-serif;
    font-weight: 400;
    color: var(--blue);
}

@media (min-width: 1441px) {
    header {
        height: 5.5vw;
    }

    #companies {
        padding: 4vw 5.5vw 2vw 5.5vw;
    }

    #companies .img-wrapper {
        width: calc(1/12 * 100%)
    }

    #about,
    #day1,
    #day2,
    #tickets,
    #contact {
        margin-top: -5.5vw;
    }

    #about,
    #program {
        padding: 7.6vw 5.5vw 8.3vw;
    }

    #program {
        padding-top: 4.2vw;
        padding-bottom: 7vw;
    }

    #speakers {
        padding-top: 12.5vw;
        padding-bottom: 13.9vw;
    }

    #program .text-columns .col:first-child {
        margin-right: 4.2vw;
    }

    #day1,
    #day2 {
        padding-top: 5.5vw;
        margin-bottom: -7.2vw;
    }

    #day1 .title,
    #day2 .title,
    .program-list {
        padding: 2.8vw 5.5vw;
    }

    .program .description p:first-of-type {
        padding-bottom: 2.8vw;
    }

    .program .description p:first-of-type::after {
        width: 2vw;
    }

    #tickets {
        padding-top: 11vw;
        padding-bottom: 5.5vw;
    }

    #partners {
        padding-top: 5.5vw;
        padding-bottom: 5.5vw;
    }
}

@media (max-width: 1100px) {
    header .img-wrapper.brick {
        height: 20%;
    }

    .prices-block {
        width: 80%;
    }

    #companies .img-wrapper {
        width: calc(1 / 8 * 100%);
    }
}

@media (max-width: 890px) {
    header {
        justify-content: space-between;
        padding: 0 20px;
    }

    header .img-wrapper {
        position: static;
        transform: none;
    }

    header #hamburger {
        position: relative;
        display: block;
        width: 40px;
        height: 40px;
    }

    header #hamburger::after {
        position: absolute;
        content: '';
        top: 9px;
        left: 0;
        width: 100%;
        height: 2px;
        background: #4D4D4D;
        box-shadow: 0 10px 0 #4D4D4D, 0 20px 0 #4D4D4D;
    }

    header #menu {
        display: none;
    }

    .mobile-active header {
        box-shadow: none;
    }

    .mobile-active header #menu {
        display: flex;
        position: absolute;
        height: 60px;
        width: 100%;
        top: 80px;
        left: 0;
        background-color: #fff;
        box-shadow: 0 1px 2px -1px rgba(0, 0, 0, 0.1);
    }

    .mobile-active header #hamburger::after {
        height: 100%;
        top: 0;
        box-shadow: none;
        background: url('images/close.svg') center / contain no-repeat transparent;
    }

    .main-title p br {
        display: none;
    }

    .main-title .img-wrapper {
        padding-bottom: 66%;
    }

    .main-title .img-wrapper img {
        position: absolute;
        height: 100%;
        object-fit: cover;
    }

    #companies .img-wrapper {
        width: calc(1 / 6 * 100%);
    }

    #about {
        flex-direction: column;
        padding: 100px 80px 80px;
        box-sizing: border-box;
    }

    #program {
        flex-direction: column;
        padding: 40px 80px 80px;
        box-sizing: border-box;
    }

    #about h1,
    #program h1 {
        width: 100%;
        padding-right: 0;
        padding-bottom: 20px;
        text-align: left;
    }

    #about .text-columns,
    #program .text-columns {
        width: 100%;
        padding-top: 20px;
        -webkit-column-count: 1;
        -moz-column-count: 1;
        column-count: 1;
        -webkit-column-gap: 0;
        -moz-column-gap: 0;
        column-gap: 0;
    }
}

@media (max-width: 768px) and (min-width: 621px) {
    .person {
        width: calc(33.3% - 15px);
    }

    .person {
        padding-bottom: calc(33.3% - 15px);
    }

    .person:nth-child(4n) {
        margin-right: 20px;
    }

    .person:nth-child(3n) {
        margin-right: 0;
    }

    #tickets .prices-block p:last-child {
        height: 48px;
    }

    #tickets .description,
    #tickets .smallcase,
    #contact .info {
        width: 75%;
    }
}

@media (min-width: 769px) {
    #tickets .prices-block br {
        display: none;
    }
}

@media (max-width: 620px) and (min-width: 521px) {
    .person {
        width: calc(50% - 10px);
    }

    .person {
        padding-bottom: calc(50% - 10px);
    }

    .person:nth-child(2n) {
        margin-right: 0;
    }
}

@media (max-width: 520px) {
    .main-title h1 {
        font-size: 10vw;
        line-height: 1.2;
    }

    section:not(.main-title) h1 {
        font-size: 8vw;
        line-height: 1.2;
    }

    section h1:after {
        max-width: 16vw;
    }

    .main-title h2 {
        font-size: 6.8vw;
        line-height: 1.4;
    }

    .main-title p {
        max-width: 100%;
    }

    .main-title .date .button,
    .main-title .date p {
        font-size: 16px;
    }

    p {
        font-size: 15px;
    }

    header {
        height: 80px;
        padding: 10px 20px;
        justify-content: flex-start;
        align-items: center;
    }

    header .img-wrapper.kek,
    header .img-wrapper.brick {
        position: static;
    }

    header .img-wrapper.kek {
        height: 55px;
        margin-right: 10px;
    }

    header .img-wrapper.brick {
        height: 14px;
    }

    header #hamburger {
        position: absolute;
        top: 50%;
        right: 20px;
        transform: translateY(-50%);
    }

    header #hamburger::after {
        top: 11px;
        left: 50%;
        transform: translateX(-50%);
        width: 60%;
        box-shadow: 0 8px 0 #4D4D4D, 0 16px 0 #4D4D4D;
    }

    .mobile-active header #menu {
        height: 240px;
        padding: 10px 60px 0;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        box-sizing: border-box;
    }

    #menu a {
        font-size: 14px;
        margin: 0 0 10px;
    }

    .main-title .img-wrapper {
        padding-bottom: calc(100vh - 80px);
    }

    .main-title .text {
        top: 34vw;
    }

    .main-title .text p {
        max-width: 80%;
        font-size: 18px;
        line-height: 1.3;
    }

    .main-title .date {
        right: 40px;
    }

    .main-title .date .button {
        padding: 20px 30px;
    }

    section h1 {
        padding-bottom: 20px;
        margin-bottom: 20px;
    }

    #companies {
        padding: 40px 40px 20px;
        flex-direction: column;
        height: 162px;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }

    #companies .img-wrapper {
        width: 16.6vw;
        margin-bottom: 20px;
        margin-right: 20px;
    }

    #about,
    #program {
        padding-left: 40px;
        padding-right: 40px;
    }

    #about .text-columns,
    #program .text-columns {
        width: 100%;
    }

    #speakers {
        padding-top: 140px;
        padding-bottom: 80px;
    }

    #speakers .info {
        width: 100%;
    }

    .person {
        width: 100%;
        margin-right: 0;
        padding-bottom: 100%;
    }

    .person-blocks {
        padding: 20px 0 0;
    }

    .person:nth-child(4n) {
        margin-right: 0;
    }

    #discover {
        flex-direction: column;
    }

    #discover p {
        text-align: center;
        margin-bottom: 20px;
    }

    #program .text-columns {
        flex-direction: column;
        margin-bottom: 20px;
    }

    #program .text-columns .col:first-child {
        margin-right: 0;
    }

    #day1 .title,
    #day2 .title,
    .program-list {
        padding: 40px;
    }

    #day1 .title h2,
    #day2 .title h2 {
        font-size: 28px;
        line-height: 1.2;
    }

    .program {
        flex-direction: column;
    }

    .ws-info {
        max-width: 100%;
    }

    .program p,
    .ws-info p {
        font-size: 17px;
    }

    #partners {
        padding: 60px 40px;
    }

    #tickets .description {
        width: 100%;
    }

    #tickets .prices-block {
        width: 100%;
        padding: 0;
        margin-bottom: 20px;
    }

    #tickets .prices-block p {
        font-size: 17px;
    }

    #tickets .smallcase {
        width: 90%;
    }

    #tickets .smallcase br {
        display: none;
    }

    #contact .info {
        width: 100%;
    }
}

@media (max-width: 400px) {
    header {
        flex-direction: column;
        align-items: flex-start;
    }

    header .img-wrapper.kek {
        height: 40px;
    }

    .main-title h1 {
        font-size: 9.2vw;
    }

    .main-title h2 {
        font-size: 6.2vw;
    }

    .main-title .date {
        height: 50px;
        right: 15px;
    }

    .main-title .date .button {
        padding: 10px 30px;
        font-size: 14px;
        line-height: 1.1;
    }

    .main-title .date p {
        padding: 10px 15px;
        font-size: 14px;
        line-height: 1.1;
    }

    #discover .button {
        padding: 20px 60px;
        font-size: 17px;
    }

    #day1 .title,
    #day2 .title {
        padding: 20px 40px;
    }

    #day1 .title h2,
    #day2 .title h2 {
        font-size: 24px;
    }

    .logos {
        flex-direction: column;
        align-items: center;
    }

    .logos .img-wrapper {
        max-width: 50%;
        margin: 0;
    }

    .logos .img-wrapper.brick {
        max-width: 90%;
    }

    .logos .img-wrapper img {
        width: 100%;
    }

    #companies {
        height: 255px;
    }
}
